.root {
  border-collapse: collapse;
  border: 1px solid var(--gray-900);
}

.row {
  display: flex;
}

.square {
  width: 40px;
  height: 40px;
  border: 1px solid var(--gray-900);
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
}
