.root {
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius-small);
  font-size: inherit;

  &[disabled] {
    opacity: 0.5;
    color: inherit;
  }
}

.primary {
  background-color: var(--color-primary);
  color: var(--white);
}

.secondary {
  background-color: var(--gray-200);
}
