* {
  margin: 0;
  padding: 0;

  --white: white;
  --gray-100: #f5f9f9;
  --gray-200: #e6eeee;
  --gray-300: #c1c7c7;
  --gray-900: #142929;
  --color-primary: #3d7b7b;
  --color-secondary: #ec2525;
  --color-line: var(--gray-300);
  --radius-small: 3px;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--gray-900);
  font-size: 16px;
}
